@inherits LayoutComponentBase
<!-- MainLayout.razor -->
<div class="main-layout">
    <header>
        <h1>ENT Medical System</h1>
        <nav>
    <a href="/">Bosh sahifa</a> |
    <a href="/Registratsiya">Registratsiya</a>|
     <a href="/">Kabinet</a> |
    <a href="/about">Operatsiya</a>|
     <a href="/">Bemorlar</a> 
    <!-- Example link -->
    <!-- Add more links as needed -->
        </nav>

    </header>
    <main>
        @Body
    </main>
    <footer>
        <p>&copy; 2024 ENT Medical</p>
    </footer>
</div>

