<!-- Components/DiagnostikaComponent.razor -->

<div class="diagnostika-container">
    <div class="diagnostika-row">
        <button class="diagnostika-item">Rentgen</button>
        <button class="diagnostika-item">MSKT</button>
        <button class="diagnostika-item">MRT</button>
        <button class="diagnostika-item">UTT</button>
        <button class="diagnostika-item">EKG</button>
        <button class="diagnostika-item">XXX</button>
    </div>
</div>
