<!-- Components/DiagnosticForm.razor -->
<div class="diagnostic-form">
    <h3>Diagnostics</h3>
    <ul>
        <li>Rentgen</li>
        <li>MSKT</li>
        <li>MRT</li>
        <li>UTT</li>
        <li>EKG</li>
    </ul>
</div>
