<!-- Components/ServiceList.razor -->
<div class="nav nav-tabs">
    <nav class="service-nav">
        <a  class="service-link active" @onclick="ShowQabulComponent">Qabul</a>
        <a href="#" class="service-link" @onclick="ShowDiagnostikaComponent">Diagnostika</a>
        <a href="#" class="service-link" >Laboratoriya</a>
        <a href="#" class="service-link" >XXX</a>
        <a href="#" class="service-link" >XXX</a>
        <a href="#" class="service-link disabled" aria-disabled="true">Disabled</a>
    </nav>
</div>

<!-- Conditionally render QabulComponent when isQabulSelected is true -->
@if (isQabulSelected)
{
    <QabulComponent />
}
@if (isDiagnostikaSelected)
{
    <DiagnostikaComponent />

}

@code {
    // Variable to track if QabulComponent should be shown
    private bool isQabulSelected = false;
    private bool isDiagnostikaSelected = false;
    // Method to show the Qabul component
    private void ShowQabulComponent()
    {
        isQabulSelected = true;
        isDiagnostikaSelected = false;
    }

    // Method to hide the Qabul component
    private void ShowDiagnostikaComponent()
    {
        isQabulSelected = false;
        isDiagnostikaSelected = true;
    }


}
