<!-- Components/ServiceList.razor -->
<div class="nav nav-tabs">
    <nav class="service-nav">
        <a href="#" class="service-link active" @onclick="ShowQabulComponent">Qabul</a>
        <a href="#" class="service-link" @onclick="HideQabulComponent">Diagnostika</a>
        <a href="#" class="service-link" @onclick="HideQabulComponent">Laboratoriya</a>
        <a href="#" class="service-link" @onclick="HideQabulComponent">XXX</a>
        <a href="#" class="service-link" @onclick="HideQabulComponent">XXX</a>
        <a href="#" class="service-link disabled" aria-disabled="true">Disabled</a>
    </nav>
</div>

<!-- Conditionally render QabulComponent when isQabulSelected is true -->
@if (isQabulSelected)
{
    <QabulComponent />
}

@code {
    // Variable to track if QabulComponent should be shown
    private bool isQabulSelected = false;

    // Method to show the Qabul component
    private void ShowQabulComponent()
    {
        isQabulSelected = true;
    }

    // Method to hide the Qabul component
    private void HideQabulComponent()
    {
        isQabulSelected = false;
    }


    public class Service
    {
        public string Name { get; set; }
        public int Price { get; set; }
    }

    [Parameter] public List<Service> Services { get; set; } = new List<Service>();
}
