<!-- Pages/HomePage.razor -->
@page "/"
@using EntmedicalUI.Components
<h1>Welcome to ENT Medical</h1>

<PatientDetails PatientName="Eshonov Bahodir" PatientAddress="Some Address" PatientBirthdate="22.11.1992" PatientPassportInfo="AD 7654321" DoctorID="DR101" />

<ServiceList  />



@code {
   
   
   }
